.recipe-details-container {
    background: url(../../assets/dish2.jpg) no-repeat fixed;
    background-size: cover;
    background-position: bottom;
    opacity: 0.90;
    height: 250px;
}

.recipe-details-container .modal-button {
    visibility: hidden;
}

.recipe-details {
    margin: 0 auto;
    padding: 5em 3em;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipe-details-text {
    margin-top: 2em;
    padding: 2em 5em 4em;
    background-color: #e6cfcf;
    border-radius: 0.3em;
    border: 0.1em solid #e0bebe;
}

.recipe-details span {
    line-height: 2em;
    font-size: 18px;
}

.img-recipe-details {
    width: 100%;
    border-radius: 0.3em;
    box-shadow: 0px 4px 3px rgba(0,0,0,0.1);
    max-width: 30rem;
    margin-bottom: 2em;
}

.restrictions {
    padding-top: 1em;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 10px;
    opacity: 0.8;
}

.restrictions img {
    margin-left: 0.5em;
}

@media (max-width: 768px) {
    .recipe-details {
        width: 90%;
        padding: 3em;
    }

    .recipe-details-text {
        margin-top: 2em;
        padding: 2em 3em 4em;
    }

    .img-recipe-details {
        margin-bottom: 2em;
    }

    .recipe-details-container {
        background: unset;
    }
}

@media (max-width: 480px) {
    .recipe-details {
        width: 95%;
        padding: 2em;
    }

    .recipe-details-text {
        margin-top: 2em;
        padding: 2em 3em 4em;
    }

    .img-recipe-details {
        width: 100%;
        max-width: unset;
    }

    .recipe-details-container {
        background: unset;
    }
}
