form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    background-color: #C0C0C0;
    border: none;
    padding: 0 0 3em 0;

  }
  
  h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    margin-bottom: 10px;
  }
  
  textarea {
    height: 100px;
  }
  
  input:focus, textarea:focus{
    outline: none;
    border: 0.5px solid #CCCCCC;
    background-color: #E6CFCF;
  }

  #imageUpload {
    display: none; 
  }
  
  #uploadLabel {
    display: inline-block;
    padding: 10px 15px;
    width: 97%;
    background-color: #E6CFCF;
    cursor: pointer;
  }
  
  #uploadLabel:hover {
    box-shadow: 10px 10px 10px rgba(77, 76, 76, 0.1);
  }

  .checkboxes {
    display: flex;
    align-items: center;
  }

  .checkboxes label {
    margin-left: 1em;
    margin-top: 0.5em;
  }

  form button {
    width: 105%;
    margin: 0 auto
  }
  