.recipe-form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    background-color: #222222;
    border: none;
    padding: 0 0 3em 0;
    font-size: 1.1em;
    color: #F9F9F9
  }
  
  h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  textarea {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  textarea {
    height: 100px;
  }
  
  input:focus, textarea:focus{
    outline: none;
    border: 1px solid #E6CFCF;
    background-color: #F1F1F1;
  }

  #imageUpload {
    display: none; 
  }
  
  #uploadLabel {
    display: inline-block;
    padding: 10px 15px;
    width: 97%;
    background-color: #E6CFCF;
    cursor: pointer;
    color: #222222
  }

   .recipe-form input[type=checkbox] {
    display: none;
    pointer-events:none;
  } 

  .recipe-form input[type=checkbox] + label {
    cursor: pointer;
    display:grid;
    grid-template-columns: auto 3fr;
  } 

  .recipe-form input[type=checkbox]:checked + label .check {
    stroke-dashoffset: 0;
  } 

  .recipe-form svg {
    width: 1.8em;
    stroke: #E6CFCF;
    stroke-width: 6;
    fill: white;
  }

  .recipe-form .box {
    stroke-dasharray: 320;
    stroke-dashoffset: 0;
    fill: #222222;
    transition: stroke-dashoffset .3s linear;
}

.recipe-form .check {
    stroke-dasharray: 70;
    stroke-dashoffset: 70;
    fill: none;
    transition: stroke-dashoffset .3s linear;
}

.recipe-form .checkboxes span {
  margin-left: 0.5em;
  margin-top: 0.1em;
}

  .form-button {
    width: 105%;
    border: none;
    background-color: #E6CFCF;
    cursor: pointer;
    font-family: 'Lora', serif;
    font-weight: bold;
    padding: 0.7em;
    border-radius: 0.5em;
    margin-right: 1em;
    color: #222222;
    font-size: 1em;
}


  